---
import Button, { buttonVariants } from '@/components/button.astro';
import Link from '@/components/link.astro';
import Surface from '@/components/surface.astro';
import Layout from '@/layouts/index.astro';
---

<Layout>
  <Surface class="flex flex-col gap-6">
    <Surface class="flex flex-wrap gap-6">
      <Button variant="gray-solid">Button</Button>
      <Button variant="gray-soft">Button</Button>
      <Button variant="gray-soft-outline">Button</Button>
      <Button variant="gray-surface-outline">Button</Button>
      <Button variant="gray-transparent-outline">Button</Button>
      <Button variant="gray-ghost">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="gray-solid" elevation="1">Button</Button>
      <Button variant="gray-soft" elevation="1">Button</Button>
      <Button variant="gray-soft-outline" elevation="1">Button</Button>
      <Button variant="gray-surface-outline" elevation="1">Button</Button>
      <Button variant="gray-transparent-outline" elevation="1">Button</Button>
      <Button variant="gray-ghost" elevation="1">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="gray-solid" elevation="2">Button</Button>
      <Button variant="gray-soft" elevation="2">Button</Button>
      <Button variant="gray-soft-outline" elevation="2">Button</Button>
      <Button variant="gray-surface-outline" elevation="2">Button</Button>
      <Button variant="gray-transparent-outline" elevation="2">Button</Button>
      <Button variant="gray-ghost" elevation="2">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="gray-solid" elevation="3">Button</Button>
      <Button variant="gray-soft" elevation="3">Button</Button>
      <Button variant="gray-soft-outline" elevation="3">Button</Button>
      <Button variant="gray-surface-outline" elevation="3">Button</Button>
      <Button variant="gray-transparent-outline" elevation="3">Button</Button>
      <Button variant="gray-ghost" elevation="3">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="gray-solid" disabled>Button</Button>
      <Button variant="gray-soft" disabled>Button</Button>
      <Button variant="gray-soft-outline" disabled>Button</Button>
      <Button variant="gray-surface-outline" disabled>Button</Button>
      <Button variant="gray-transparent-outline" disabled>Button</Button>
      <Button variant="gray-ghost" disabled>Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="accent-solid">Button</Button>
      <Button variant="accent-soft">Button</Button>
      <Button variant="accent-soft-outline">Button</Button>
      <Button variant="accent-surface-outline">Button</Button>
      <Button variant="accent-transparent-outline">Button</Button>
      <Button variant="accent-ghost">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="accent-solid" elevation="1">Button</Button>
      <Button variant="accent-soft" elevation="1">Button</Button>
      <Button variant="accent-soft-outline" elevation="1">Button</Button>
      <Button variant="accent-surface-outline" elevation="1">Button</Button>
      <Button variant="accent-transparent-outline" elevation="1">Button</Button>
      <Button variant="accent-ghost" elevation="1">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="accent-solid" elevation="2">Button</Button>
      <Button variant="accent-soft" elevation="2">Button</Button>
      <Button variant="accent-soft-outline" elevation="2">Button</Button>
      <Button variant="accent-surface-outline" elevation="2">Button</Button>
      <Button variant="accent-transparent-outline" elevation="2">Button</Button>
      <Button variant="accent-ghost" elevation="2">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="accent-solid" elevation="3">Button</Button>
      <Button variant="accent-soft" elevation="3">Button</Button>
      <Button variant="accent-soft-outline" elevation="3">Button</Button>
      <Button variant="accent-surface-outline" elevation="3">Button</Button>
      <Button variant="accent-transparent-outline" elevation="3">Button</Button>
      <Button variant="accent-ghost" elevation="3">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="accent-solid" disabled>Button</Button>
      <Button variant="accent-soft" disabled>Button</Button>
      <Button variant="accent-soft-outline" disabled>Button</Button>
      <Button variant="accent-surface-outline" disabled>Button</Button>
      <Button variant="accent-transparent-outline" disabled>Button</Button>
      <Button variant="accent-ghost" disabled>Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="warn-solid">Button</Button>
      <Button variant="warn-soft">Button</Button>
      <Button variant="warn-soft-outline">Button</Button>
      <Button variant="warn-surface-outline">Button</Button>
      <Button variant="warn-transparent-outline">Button</Button>
      <Button variant="warn-ghost">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="warn-solid" elevation="1">Button</Button>
      <Button variant="warn-soft" elevation="1">Button</Button>
      <Button variant="warn-soft-outline" elevation="1">Button</Button>
      <Button variant="warn-surface-outline" elevation="1">Button</Button>
      <Button variant="warn-transparent-outline" elevation="1">Button</Button>
      <Button variant="warn-ghost" elevation="1">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="warn-solid" elevation="2">Button</Button>
      <Button variant="warn-soft" elevation="2">Button</Button>
      <Button variant="warn-soft-outline" elevation="2">Button</Button>
      <Button variant="warn-surface-outline" elevation="2">Button</Button>
      <Button variant="warn-transparent-outline" elevation="2">Button</Button>
      <Button variant="warn-ghost" elevation="2">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="warn-solid" elevation="3">Button</Button>
      <Button variant="warn-soft" elevation="3">Button</Button>
      <Button variant="warn-soft-outline" elevation="3">Button</Button>
      <Button variant="warn-surface-outline" elevation="3">Button</Button>
      <Button variant="warn-transparent-outline" elevation="3">Button</Button>
      <Button variant="warn-ghost" elevation="3">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="warn-solid" disabled>Button</Button>
      <Button variant="warn-soft" disabled>Button</Button>
      <Button variant="warn-soft-outline" disabled>Button</Button>
      <Button variant="warn-surface-outline" disabled>Button</Button>
      <Button variant="warn-transparent-outline" disabled>Button</Button>
      <Button variant="warn-ghost" disabled>Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="danger-solid">Button</Button>
      <Button variant="danger-soft">Button</Button>
      <Button variant="danger-soft-outline">Button</Button>
      <Button variant="danger-surface-outline">Button</Button>
      <Button variant="danger-transparent-outline">Button</Button>
      <Button variant="danger-ghost">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="danger-solid" elevation="1">Button</Button>
      <Button variant="danger-soft" elevation="1">Button</Button>
      <Button variant="danger-soft-outline" elevation="1">Button</Button>
      <Button variant="danger-surface-outline" elevation="1">Button</Button>
      <Button variant="danger-transparent-outline" elevation="1">Button</Button>
      <Button variant="danger-ghost" elevation="1">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="danger-solid" elevation="2">Button</Button>
      <Button variant="danger-soft" elevation="2">Button</Button>
      <Button variant="danger-soft-outline" elevation="2">Button</Button>
      <Button variant="danger-surface-outline" elevation="2">Button</Button>
      <Button variant="danger-transparent-outline" elevation="2">Button</Button>
      <Button variant="danger-ghost" elevation="2">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="danger-solid" elevation="3">Button</Button>
      <Button variant="danger-soft" elevation="3">Button</Button>
      <Button variant="danger-soft-outline" elevation="3">Button</Button>
      <Button variant="danger-surface-outline" elevation="3">Button</Button>
      <Button variant="danger-transparent-outline" elevation="3">Button</Button>
      <Button variant="danger-ghost" elevation="3">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="danger-solid" disabled>Button</Button>
      <Button variant="danger-soft" disabled>Button</Button>
      <Button variant="danger-soft-outline" disabled>Button</Button>
      <Button variant="danger-surface-outline" disabled>Button</Button>
      <Button variant="danger-transparent-outline" disabled>Button</Button>
      <Button variant="danger-ghost" disabled>Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="gray-accent-soft">Button</Button>
      <Button variant="gray-accent-soft-outline">Button</Button>
      <Button variant="gray-warn-soft">Button</Button>
      <Button variant="gray-warn-soft-outline">Button</Button>
      <Button variant="gray-danger-soft">Button</Button>
      <Button variant="gray-danger-soft-outline">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="gray-accent-soft" elevation="1">Button</Button>
      <Button variant="gray-accent-soft-outline" elevation="1">Button</Button>
      <Button variant="gray-warn-soft" elevation="1">Button</Button>
      <Button variant="gray-warn-soft-outline" elevation="1">Button</Button>
      <Button variant="gray-danger-soft" elevation="1">Button</Button>
      <Button variant="gray-danger-soft-outline" elevation="1">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="gray-accent-soft" elevation="2">Button</Button>
      <Button variant="gray-accent-soft-outline" elevation="2">Button</Button>
      <Button variant="gray-warn-soft" elevation="2">Button</Button>
      <Button variant="gray-warn-soft-outline" elevation="2">Button</Button>
      <Button variant="gray-danger-soft" elevation="2">Button</Button>
      <Button variant="gray-danger-soft-outline" elevation="2">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="gray-accent-soft" elevation="3">Button</Button>
      <Button variant="gray-accent-soft-outline" elevation="3">Button</Button>
      <Button variant="gray-warn-soft" elevation="3">Button</Button>
      <Button variant="gray-warn-soft-outline" elevation="3">Button</Button>
      <Button variant="gray-danger-soft" elevation="3">Button</Button>
      <Button variant="gray-danger-soft-outline" elevation="3">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="gray-accent-soft" disabled>Button</Button>
      <Button variant="gray-accent-soft-outline" disabled>Button</Button>
      <Button variant="gray-warn-soft" disabled>Button</Button>
      <Button variant="gray-warn-soft-outline" disabled>Button</Button>
      <Button variant="gray-danger-soft" disabled>Button</Button>
      <Button variant="gray-danger-soft-outline" disabled>Button</Button>
    </Surface>
    <Surface class="flex flex-wrap items-end gap-6">
      <Button size="1">Button</Button>
      <Button size="2">Button</Button>
      <Button size="3">Button</Button>
      <Button size="4">Button</Button>
      <Button size="5">Button</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="accent-solid" size="2-icon" icon={{ name: 'plus' }} />
      <Button variant="accent-soft" size="2-icon" icon={{ name: 'plus' }} />
      <Button variant="accent-soft-outline" size="2-icon" icon={{ name: 'plus' }} />
      <Button variant="accent-surface-outline" size="2-icon" icon={{ name: 'plus' }} />
      <Button variant="accent-transparent-outline" size="2-icon" icon={{ name: 'plus' }} />
      <Button variant="accent-ghost" size="2-icon" icon={{ name: 'plus' }} />
      <Button variant="gray-accent-soft" size="2-icon" icon={{ name: 'plus' }} />
      <Button variant="gray-accent-soft-outline" size="2-icon" icon={{ name: 'plus' }} />
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Button variant="accent-solid" size="2-icon" icon={{ name: 'plus' }} disabled />
      <Button variant="accent-soft" size="2-icon" icon={{ name: 'plus' }} disabled />
      <Button variant="accent-soft-outline" size="2-icon" icon={{ name: 'plus' }} disabled />
      <Button variant="accent-surface-outline" size="2-icon" icon={{ name: 'plus' }} disabled />
      <Button variant="accent-transparent-outline" size="2-icon" icon={{ name: 'plus' }} disabled />
      <Button variant="accent-ghost" size="2-icon" icon={{ name: 'plus' }} disabled />
      <Button variant="gray-accent-soft" size="2-icon" icon={{ name: 'plus' }} disabled />
      <Button variant="gray-accent-soft-outline" size="2-icon" icon={{ name: 'plus' }} disabled />
    </Surface>
    <Surface class="flex flex-wrap items-end gap-6">
      <Button size="1-icon" icon={{ name: 'plus' }} />
      <Button size="2-icon" icon={{ name: 'plus' }} />
      <Button size="3-icon" icon={{ name: 'plus' }} />
      <Button size="4-icon" icon={{ name: 'plus' }} />
      <Button size="5-icon" icon={{ name: 'plus' }} />
    </Surface>
    <Surface class="flex flex-wrap items-end gap-6">
      <Button size="1" icon={{ name: 'twitter' }}>Twitter</Button>
      <Button size="2" icon={{ name: 'twitter' }}>Twitter</Button>
      <Button size="3" icon={{ name: 'twitter' }}>Twitter</Button>
      <Button size="4" icon={{ name: 'twitter' }}>Twitter</Button>
      <Button size="5" icon={{ name: 'twitter' }}>Twitter</Button>
    </Surface>
    <Surface class="flex flex-wrap gap-6">
      <Link href="/" class={buttonVariants({ variant: 'gray-ghost' }).base()}>Internal Link</Link>
      <Link href="http://" class={buttonVariants({ variant: 'accent-ghost' }).base()}>External Link</Link>
      <Link
        href="/"
        aria-label="Internal Link"
        icon={{ name: 'link', class: buttonVariants({ variant: 'gray-ghost', size: '2-icon' }).icon() }}
        class={buttonVariants({ variant: 'gray-ghost', size: '2-icon' }).base()}
      />
      <Link
        href="http://"
        aria-label="External Link"
        icon={{ name: 'link', class: buttonVariants({ variant: 'accent-ghost', size: '2-icon' }).icon() }}
        class={buttonVariants({ variant: 'accent-ghost', size: '2-icon' }).base()}
      />
    </Surface>
  </Surface>
</Layout>
