---
import Link from '@/components/link.astro';
import Layout from '@/layouts/index.astro';
import { readdir } from 'fs/promises';
---

<Layout>
  <ul class="flex flex-col">
    {
      (await readdir(new URL('./component/', import.meta.url))).map((component) => (
        <li>
          <Link size="6" href={`/component/${component.replace('.astro', '')}`} class="py-2 capitalize">
            {component.replace(/\.astro|-/g, ' ')}
          </Link>
        </li>
      ))
    }
  </ul>
</Layout>
