---
import Link from '@/components/link.astro';
import Layout from '@/layouts/index.astro';

const files = Object.values(import.meta.glob('./component/*.astro', { eager: true }));
const components = files.map((file) => (file as { default: { name: string } }).default.name);
---

<Layout>
  <ul class="flex flex-col">
    {
      components.map((component) => (
        <li>
          <Link size="6" href={`/component/${component}`} class="py-2 capitalize">
            {component.replace(/-/g, ' ')}
          </Link>
        </li>
      ))
    }
  </ul>
</Layout>
