@import 'tailwindcss';
@plugin "tailwindcss-react-aria-components";
@plugin "../libs/tailwind.ts";

@theme inline {
  --text-xs: clamp(0.66rem, 0.15vi + 0.62rem, 0.74rem);
  --text-sm: clamp(0.7rem, 0.24vi + 0.64rem, 0.83rem);
  --text-base: clamp(0.75rem, 0.34vi + 0.66rem, 0.94rem);
  --text-lg: clamp(0.8rem, 0.46vi + 0.68rem, 1.05rem);
  --text-xl: clamp(0.85rem, 0.6vi + 0.7rem, 1.19rem);
  --text-2xl: clamp(0.91rem, 0.77vi + 0.72rem, 1.33rem);
  --text-3xl: clamp(0.97rem, 0.96vi + 0.73rem, 1.5rem);
  --text-4xl: clamp(1.04rem, 1.19vi + 0.74rem, 1.69rem);
  --text-5xl: clamp(1.11rem, 1.44vi + 0.75rem, 1.9rem);
  --text-6xl: clamp(1.18rem, 1.74vi + 0.75rem, 2.14rem);
  --text-7xl: clamp(1.26rem, 2.08vi + 0.74rem, 2.41rem);
  --text-8xl: clamp(1.34rem, 2.48vi + 0.73rem, 2.71rem);
  --text-9xl: clamp(1.43rem, 2.93vi + 0.7rem, 3.04rem);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
  --color-gray-contrast: var(--gray-contrast);

  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);
  --color-accent-5: var(--accent-5);
  --color-accent-6: var(--accent-6);
  --color-accent-7: var(--accent-7);
  --color-accent-8: var(--accent-8);
  --color-accent-9: var(--accent-9);
  --color-accent-10: var(--accent-10);
  --color-accent-11: var(--accent-11);
  --color-accent-12: var(--accent-12);
  --color-accent-contrast: var(--accent-contrast);

  --color-warn-1: var(--warn-1);
  --color-warn-2: var(--warn-2);
  --color-warn-3: var(--warn-3);
  --color-warn-4: var(--warn-4);
  --color-warn-5: var(--warn-5);
  --color-warn-6: var(--warn-6);
  --color-warn-7: var(--warn-7);
  --color-warn-8: var(--warn-8);
  --color-warn-9: var(--warn-9);
  --color-warn-10: var(--warn-10);
  --color-warn-11: var(--warn-11);
  --color-warn-12: var(--warn-12);
  --color-warn-contrast: var(--warn-contrast);

  --color-danger-1: var(--danger-1);
  --color-danger-2: var(--danger-2);
  --color-danger-3: var(--danger-3);
  --color-danger-4: var(--danger-4);
  --color-danger-5: var(--danger-5);
  --color-danger-6: var(--danger-6);
  --color-danger-7: var(--danger-7);
  --color-danger-8: var(--danger-8);
  --color-danger-9: var(--danger-9);
  --color-danger-10: var(--danger-10);
  --color-danger-11: var(--danger-11);
  --color-danger-12: var(--danger-12);
  --color-danger-contrast: var(--danger-contrast);
}

[data-theme='light'] {
  --gray-1: oklch(95% 0 none);
  --gray-2: oklch(93.5% 0 none);
  --gray-3: oklch(90.7% 0 none);
  --gray-4: oklch(88% 0 none);
  --gray-5: oklch(85.5% 0 none);
  --gray-6: oklch(82.7% 0 none);
  --gray-7: oklch(79.1% 0 none);
  --gray-8: oklch(73% 0 none);
  --gray-9: oklch(57.5% 0 none);
  --gray-10: oklch(54.1% 0 none);
  --gray-11: oklch(44% 0 none);
  --gray-12: oklch(24% 0 none);
  --gray-contrast: oklch(100% 0 0);

  --accent-1: oklch(95.1% 0.004 264.4);
  --accent-2: oklch(93.5% 0.0076 264.4);
  --accent-3: oklch(91.2% 0.0188 264.4);
  --accent-4: oklch(88.3% 0.0283 264.4);
  --accent-5: oklch(84.8% 0.0371 264.4);
  --accent-6: oklch(80.3% 0.0458 264.4);
  --accent-7: oklch(74.5% 0.0569 264.4);
  --accent-8: oklch(66.6% 0.0655 264.4);
  --accent-9: oklch(33% 0.0437 264.4);
  --accent-10: oklch(40% 0.0437 264.4);
  --accent-11: oklch(46.7% 0.0655 264.4);
  --accent-12: oklch(34.8% 0.0437 264.4);
  --accent-contrast: oklch(100% 0 0);

  --warn-1: oklch(95% 0.0032 50.45);
  --warn-2: oklch(93.3% 0.0185 50.45);
  --warn-3: oklch(90.9% 0.0444 50.45);
  --warn-4: oklch(86.9% 0.0978 50.45);
  --warn-5: oklch(83.6% 0.1286 50.45);
  --warn-6: oklch(80% 0.1329 50.45);
  --warn-7: oklch(74.5% 0.1362 50.45);
  --warn-8: oklch(68.3% 0.1599 50.45);
  --warn-9: oklch(71.5% 0.1599 50.45);
  --warn-10: oklch(67.9% 0.1599 50.45);
  --warn-11: oklch(53.1% 0.1599 50.45);
  --warn-12: oklch(35% 0.0833 50.45);
  --warn-contrast: oklch(100% 0 0);

  --danger-1: oklch(95.2% 0.0024 20.63);
  --danger-2: oklch(93.8% 0.0093 20.63);
  --danger-3: oklch(90.6% 0.0206 20.63);
  --danger-4: oklch(87.4% 0.0327 20.63);
  --danger-5: oklch(84.2% 0.0461 20.63);
  --danger-6: oklch(80.5% 0.0629 20.63);
  --danger-7: oklch(75.5% 0.0856 20.63);
  --danger-8: oklch(68.4% 0.1154 20.63);
  --danger-9: oklch(54% 0.094 20.63);
  --danger-10: oklch(49.3% 0.094 20.63);
  --danger-11: oklch(45.1% 0.094 20.63);
  --danger-12: oklch(33.2% 0.0291 20.63);
  --danger-contrast: oklch(100% 0 0);
}

[data-theme='dark'] {
  --gray-1: oklch(0% 0 0);
  --gray-2: oklch(18.3% 0 0);
  --gray-3: oklch(23.9% 0 0);
  --gray-4: oklch(27.5% 0 0);
  --gray-5: oklch(30.8% 0 0);
  --gray-6: oklch(34.7% 0 0);
  --gray-7: oklch(40% 0 0);
  --gray-8: oklch(49% 0 0);
  --gray-9: oklch(53.4% 0 0);
  --gray-10: oklch(58.1% 0 0);
  --gray-11: oklch(76.7% 0 0);
  --gray-12: oklch(94.8% 0 0);
  --gray-contrast: oklch(100% 0 0);

  --accent-1: oklch(0% 0.0118 281.6);
  --accent-2: oklch(18.2% 0.0132 281.6);
  --accent-3: oklch(24.7% 0.0284 281.6);
  --accent-4: oklch(29.1% 0.0383 281.6);
  --accent-5: oklch(33% 0.0433 281.6);
  --accent-6: oklch(37.1% 0.0462 281.6);
  --accent-7: oklch(42.1% 0.0508 281.6);
  --accent-8: oklch(49.6% 0.059 281.6);
  --accent-9: oklch(83% 0.0532 281.6);
  --accent-10: oklch(79.8% 0.0532 281.6);
  --accent-11: oklch(77.3% 0.0532 281.6);
  --accent-12: oklch(93.3% 0.0174 281.6);
  --accent-contrast: oklch(25% 0.0397 281.01);

  --warn-1: oklch(0% 0.0091 59.27);
  --warn-2: oklch(18% 0.0142 59.27);
  --warn-3: oklch(24.1% 0.0326 59.27);
  --warn-4: oklch(28.4% 0.0557 59.27);
  --warn-5: oklch(32.7% 0.0639 59.27);
  --warn-6: oklch(37.8% 0.067 59.27);
  --warn-7: oklch(44.4% 0.0741 59.27);
  --warn-8: oklch(52.9% 0.0912 59.27);
  --warn-9: oklch(81.5% 0.1249 59.27);
  --warn-10: oklch(78.2% 0.1249 59.27);
  --warn-11: oklch(79.9% 0.1249 59.27);
  --warn-12: oklch(92.2% 0.0446 59.27);
  --warn-contrast: oklch(0% 0 0);

  --danger-1: oklch(0% 0.004 18.43);
  --danger-2: oklch(18.4% 0.0069 18.43);
  --danger-3: oklch(23.9% 0.0119 18.43);
  --danger-4: oklch(28% 0.0169 18.43);
  --danger-5: oklch(31.9% 0.0227 18.43);
  --danger-6: oklch(36.4% 0.0296 18.43);
  --danger-7: oklch(42.3% 0.0383 18.43);
  --danger-8: oklch(50.5% 0.0499 18.43);
  --danger-9: oklch(81.2% 0.0583 18.43);
  --danger-10: oklch(77.9% 0.0583 18.43);
  --danger-11: oklch(79.3% 0.0583 18.43);
  --danger-12: oklch(92.3% 0.0336 18.43);
  --danger-contrast: oklch(0% 0 0);
}

@utility elevation-1 {
  @apply shadow-sm inset-shadow-2xs shadow-black/15 inset-shadow-white/25;
}

@utility elevation-2 {
  @apply shadow-sm inset-shadow-xs shadow-black/15 inset-shadow-white/25;
}

@utility elevation-3 {
  @apply shadow-md inset-shadow-sm shadow-black/15 inset-shadow-white/25;
}
