---
import { getComponentVariants } from '@/libs/variant';
import type { ComponentProps, HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';
import Icon from './icon.astro';
import { Text } from './typography';

type Props = Omit<HTMLAttributes<'span'>, 'prefix'> & BadgeVariants & { icon?: ComponentProps<typeof Icon> };

export type BadgeVariants = VariantProps<typeof badgeVariants>;

export const badgeVariants = tv({
  extend: getComponentVariants().variants,
  slots: { base: 'flex shrink-0 items-center justify-center font-medium whitespace-nowrap select-none', icon: '' },
  defaultVariants: { variant: 'accent-soft-outline', iconPosition: 'prefix', size: '2' },
  variants: {
    iconPosition: { prefix: 'flex-row', suffix: 'flex-row-reverse' },
    size: {
      '1-icon': { base: 'size-4 rounded', icon: 'size-2.5' },
      '2-icon': { base: 'size-5 rounded', icon: 'size-3' },
      '3-icon': { base: 'size-6 rounded', icon: 'size-3.5' },
      '4-icon': { base: 'size-7 rounded', icon: 'size-4' },
      '5-icon': { base: 'size-8 rounded', icon: 'size-4.5' },
      '1': { base: 'h-5 gap-1 rounded px-2 text-xs', icon: 'size-2.5 opacity-80' },
      '2': { base: 'h-5.5 gap-1 rounded px-2.5 text-xs', icon: 'size-3 opacity-80' },
      '3': { base: 'h-6 gap-1 rounded px-3 text-sm', icon: 'size-3.5 opacity-80' },
      '4': { base: 'h-6.5 gap-1 rounded px-3.5 text-base', icon: 'size-3.5 opacity-80' },
      '5': { base: 'h-7 gap-1 rounded px-4 text-lg', icon: 'size-4 opacity-80' },
    },
  },
});

const { class: className, elevation, variant, iconPosition, size, icon, ...props } = Astro.props;
const slots = badgeVariants({ elevation, variant, iconPosition, size });
---

<div data-slot="badge" role="presentation" class={slots.base({ className })} {...props}>
  {icon && <Icon class={slots.icon()} {...icon} />}
  <Text as={Astro.slots.has('default') && !!icon ? 'span' : Fragment} trim size="inherit"><slot /></Text>
</div>
