---
import type { ComponentProps, HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';
import Icon from './icon.astro';

type Props = HTMLAttributes<'button'> & ButtonVariants;

export type ButtonVariants = VariantProps<typeof buttonVariants> & { icon?: ComponentProps<typeof Icon> };

export const buttonVariants = tv({
  base: [
    'inline-flex items-center justify-center gap-2 rounded font-medium whitespace-nowrap select-none',
    'disabled:pointer-events-none disabled:opacity-50',
    'focus-visible:ring-accent-8 focus-visible:ring focus-visible:outline-none',
    'motion-safe:transition-all motion-safe:active:scale-[0.97]',
  ],
  defaultVariants: { size: '2', variant: 'accent-solid' },
  variants: {
    elevation: { '1': 'elevation-1', '2': 'elevation-2', '3': 'elevation-3' },
    size: {
      '1': 'slot-[icon]:size-3 slot-[icon]:opacity-80 h-7.5 px-3 text-sm',
      '2': 'slot-[icon]:size-4 slot-[icon]:opacity-80 h-8.5 px-4 text-base',
      '3': 'slot-[icon]:size-5 slot-[icon]:opacity-80 h-9.5 px-5 text-lg',
      '4': 'slot-[icon]:size-6 slot-[icon]:opacity-80 h-11.5 px-7 text-xl',
      '5': 'slot-[icon]:size-7 slot-[icon]:opacity-80 h-12.5 px-8 text-2xl',
      '1-icon': 'slot-[icon]:size-3 size-7 shrink-0',
      '2-icon': 'slot-[icon]:size-4 size-8 shrink-0',
      '3-icon': 'slot-[icon]:size-5 size-9 shrink-0',
      '4-icon': 'slot-[icon]:size-6 size-11 shrink-0',
      '5-icon': 'slot-[icon]:size-7 size-12 shrink-0',
    },
    // prettier-ignore
    variant: {
      'gray-solid': 'bg-gray-9 text-gray-contrast hover:bg-gray-10',
      'gray-soft': 'bg-gray-3 text-gray-11 hover:bg-gray-4',
      'gray-soft-outline': 'bg-gray-3 text-gray-11 border-gray-7 hover:border-gray-8 border',
      'gray-outline': 'text-gray-11 border-gray-8 hover:bg-gray-3 border',
      'gray-ghost': 'text-gray-11 hover:bg-gray-3',
      'gray-accent-soft': 'bg-gray-3 text-accent-11 hover:bg-gray-4',
      'gray-warn-soft': 'bg-gray-3 text-warn-11 hover:bg-gray-4 focus-visible:ring-warn-8',
      'gray-danger-soft': 'bg-gray-3 text-danger-11 hover:bg-gray-4 focus-visible:ring-danger-8',
      'gray-accent-soft-outline': 'bg-gray-3 text-accent-11 border-gray-7 hover:border-gray-8 focus-visible:ring-accent-8 border',
      'gray-warn-soft-outline': 'bg-gray-3 text-warn-11 border-gray-7 hover:border-gray-8 focus-visible:ring-warn-8 border',
      'gray-danger-soft-outline': 'bg-gray-3 text-danger-11 border-gray-7 hover:border-gray-8 focus-visible:ring-danger-8 border',
      'accent-solid': 'bg-accent-9 text-accent-contrast hover:bg-accent-10',
      'accent-soft': 'bg-accent-3 text-accent-11 hover:bg-accent-4',
      'accent-soft-outline': 'bg-accent-3 text-accent-11 border-accent-7 hover:border-accent-8 border',
      'accent-outline': 'text-accent-11 border-accent-8 hover:bg-accent-3 border',
      'accent-ghost': 'text-accent-11 hover:bg-accent-3',
      'warn-solid': 'bg-warn-9 text-warn-contrast hover:bg-warn-10 focus-visible:ring-warn-8',
      'warn-soft': 'bg-warn-3 text-warn-11 hover:bg-warn-4 focus-visible:ring-warn-8',
      'warn-soft-outline': 'bg-warn-3 text-warn-11 border-warn-7 hover:border-warn-8 focus-visible:ring-warn-8 border',
      'warn-outline': 'text-warn-11 border-warn-8 hover:bg-warn-3 focus-visible:ring-warn-8 border',
      'warn-ghost': 'text-warn-11 hover:bg-warn-3 focus-visible:ring-warn-8',
      'danger-solid': 'bg-danger-9 text-danger-contrast hover:bg-danger-10 focus-visible:ring-danger-8',
      'danger-soft': 'bg-danger-3 text-danger-11 hover:bg-danger-4 focus-visible:ring-danger-8',
      'danger-soft-outline': 'bg-danger-3 text-danger-11 border-danger-7 hover:border-danger-8 focus-visible:ring-danger-8 border',
      'danger-outline': 'text-danger-11 border-danger-8 hover:bg-danger-3 focus-visible:ring-danger-8 border',
      'danger-ghost': 'text-danger-11 hover:bg-danger-3 focus-visible:ring-danger-8',
    },
  },
});

const { class: className, elevation, size, variant, icon, ...props } = Astro.props;
---

<button data-slot="button" type="button" class={buttonVariants({ elevation, size, variant, className })} {...props}>
  {icon && <Icon {...icon} />}
  <slot />
</button>
