---
import { getComponentVariants } from '@/libs/variant';
import type { HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';
import Icon from './icon.astro';
import { Text, type TextVariants } from './typography';

type Props = Omit<HTMLAttributes<'input'>, 'type'> & CheckboxVariants & { textVariants?: TextVariants };

export type CheckboxVariants = VariantProps<typeof checkboxVariants>;

export const componentVariants = getComponentVariants({ slot: 'control' });
export const checkboxVariants = tv({
  extend: componentVariants.variants,
  slots: {
    base: 'group/checkbox flex w-fit items-center gap-2.5 select-none has-disabled:pointer-events-none has-disabled:opacity-50',
    control: [
      'group/checkbox relative shrink-0 overflow-hidden rounded-sm will-change-transform',
      'has-disabled:pointer-events-none has-disabled:opacity-50',
      'has-focus-visible:ring has-focus-visible:outline-none',
      'has-checked:border-transparent has-active:scale-[0.97]',
      'motion-safe:transition-[background-color,color,border-color,scale]',
    ],
    input: 'absolute inset-0 appearance-none rounded-[inherit] focus-visible:outline-none',
    icon: [
      'absolute inset-0 top-1/2 left-1/2 hidden -translate-1/2 stroke-3',
      'group-has-checked/checkbox:group-not-has-indeterminate/checkbox:first-of-type:block',
      'group-not-has-checked/checkbox:group-has-indeterminate/checkbox:last-of-type:block',
      'motion-safe:first-of-type:transition-transform starting:scale-90',
    ],
  },
  defaultVariants: { size: '2', variant: 'gray-accent-soft-outline' },
  variants: {
    checkboxPosition: { prefix: 'flex-row', suffix: 'flex-row-reverse' },
    size: {
      '1': { base: 'text-sm [&+[data-slot="field-description"]]:ml-6', control: 'size-3.5', icon: 'size-3' },
      '2': { base: 'text-base [&+[data-slot="field-description"]]:ml-6.5', control: 'size-4', icon: 'size-3.5' },
      '3': { base: 'text-lg [&+[data-slot="field-description"]]:ml-7', control: 'size-4.5', icon: 'size-4' },
      '4': { base: 'text-xl [&+[data-slot="field-description"]]:ml-7.5', control: 'size-5', icon: 'size-4.5' },
      '5': { base: 'text-2xl [&+[data-slot="field-description"]]:ml-8', control: 'size-5.5', icon: 'size-5' },
    },
  },
  // prettier-ignore
  compoundVariants: [
    { variant: componentVariants.keys.gray, class: { control: 'has-checked:text-gray-contrast has-checked:bg-gray-9' } },
    { variant: componentVariants.keys.grayAccent, class: { control: 'has-checked:text-accent-contrast has-checked:bg-accent-9' } },
    { variant: componentVariants.keys.grayWarn, class: { control: 'has-checked:text-warn-contrast has-checked:bg-warn-9' } },
    { variant: componentVariants.keys.grayDanger, class: { control: 'has-checked:text-danger-contrast has-checked:bg-danger-9' } },
    { variant: componentVariants.keys.accent, class: { control: 'has-checked:text-accent-contrast has-checked:bg-accent-9' } },
    { variant: componentVariants.keys.warn, class: { control: 'has-checked:text-warn-contrast has-checked:bg-warn-9' } },
    { variant: componentVariants.keys.danger, class: { control: 'has-checked:text-danger-contrast has-checked:bg-danger-9' } },
  ],
});

const { class: className, checkboxPosition, elevation, size, variant, textVariants, ...props } = Astro.props;
const Tag = Astro.slots.has('default') ? 'label' : Fragment;
const slots = checkboxVariants({ checkboxPosition, elevation, size, variant });
---

<Tag data-slot="checkbox" class={slots.base({ className })}>
  <div class={slots.control()}>
    <Icon name="check" class={slots.icon()} />
    <Icon name="minus" class={slots.icon()} />
    <input data-slot="field-control" type="checkbox" class={slots.input()} {...props} />
  </div>
  <Text as={Astro.slots.has('default') ? 'span' : Fragment} trim size="inherit" {...textVariants}><slot /></Text>
</Tag>
