---
import type { HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';
import Icon from './icon.astro';
import { Text, type TextVariants } from './typography';

type Props = Omit<HTMLAttributes<'input'>, 'type'> & CheckboxVariants & { textVariants?: TextVariants };

export type CheckboxVariants = VariantProps<typeof checkboxVariants>;

export const checkboxVariants = tv({
  slots: {
    base: 'group/checkbox flex w-fit items-center gap-2.5 select-none has-disabled:pointer-events-none has-disabled:opacity-50',
    control: [
      'group/checkbox relative shrink-0 overflow-hidden rounded-sm will-change-transform',
      'has-disabled:pointer-events-none has-disabled:opacity-50',
      'has-focus-visible:ring-accent-8 has-focus-visible:ring',
      'has-checked:border-transparent has-active:scale-[0.97]',
      'motion-safe:transition-[background-color,color,border-color,scale]',
    ],
    input: 'absolute inset-0 appearance-none rounded-[inherit] focus-visible:outline-none',
    icon: [
      'absolute inset-0 top-1/2 left-1/2 hidden -translate-1/2 stroke-3',
      'group-has-checked/checkbox:group-not-has-indeterminate/checkbox:first-of-type:block',
      'group-not-has-checked/checkbox:group-has-indeterminate/checkbox:last-of-type:block',
      'motion-safe:first-of-type:transition-transform starting:scale-90',
    ],
  },
  defaultVariants: { size: '2', variant: 'gray-accent-soft-outline' },
  variants: {
    checkboxPosition: { prefix: 'flex-row', suffix: 'flex-row-reverse' },
    elevation: { '1': { control: 'elevation-1' }, '2': { control: 'elevation-2' }, '3': { control: 'elevation-3' } },
    size: {
      '1': { base: 'text-sm [&+[data-slot="field-description"]]:ml-6', control: 'size-3.5', icon: 'size-3' },
      '2': { base: 'text-base [&+[data-slot="field-description"]]:ml-6.5', control: 'size-4', icon: 'size-3.5' },
      '3': { base: 'text-lg [&+[data-slot="field-description"]]:ml-7', control: 'size-4.5', icon: 'size-4' },
      '4': { base: 'text-xl [&+[data-slot="field-description"]]:ml-7.5', control: 'size-5', icon: 'size-4.5' },
      '5': { base: 'text-2xl [&+[data-slot="field-description"]]:ml-8', control: 'size-5.5', icon: 'size-5' },
    },
    // prettier-ignore
    variant: {
      'gray-surface': { control: 'bg-gray-1 text-gray-11 has-checked:bg-gray-9 has-checked:text-gray-contrast' },
      'gray-solid': { control: 'bg-gray-9 text-gray-contrast has-checked:bg-gray-9 has-checked:text-gray-contrast' },
      'gray-soft': { control: 'bg-gray-3 text-gray-11 has-checked:bg-gray-9 has-checked:text-gray-contrast' },
      'gray-soft-outline': { control: 'bg-gray-3 text-gray-11 border-gray-7 border has-checked:bg-gray-9 has-checked:text-gray-contrast' },
      'gray-surface-outline': { control: 'bg-gray-1 text-gray-11 border-gray-7 border has-checked:bg-gray-9 has-checked:text-gray-contrast' },
      'gray-ghost-outline': { control: 'text-gray-11 border-gray-7 border has-checked:bg-gray-9 has-checked:text-gray-contrast' },
      'gray-accent-surface': { control: 'bg-gray-1 text-gray-11 has-checked:bg-accent-9 has-checked:text-accent-contrast' },
      'gray-accent-solid': { control: 'bg-gray-9 text-gray-contrast has-checked:bg-accent-9 has-checked:text-accent-contrast' },
      'gray-accent-soft': { control: 'bg-gray-3 text-gray-11 has-checked:bg-accent-9 has-checked:text-accent-contrast' },
      'gray-accent-soft-outline': { control: 'bg-gray-3 text-gray-11 border-gray-7 border has-checked:bg-accent-9 has-checked:text-accent-contrast' },
      'gray-accent-surface-outline': { control: 'bg-gray-1 text-gray-11 border-gray-7 border has-checked:bg-accent-9 has-checked:text-accent-contrast' },
      'gray-accent-ghost-outline': { control: 'text-gray-11 border-gray-7 border has-checked:bg-accent-9 has-checked:text-accent-contrast' },
      'accent-surface': { control: 'bg-accent-1 text-accent-11 has-checked:bg-accent-9 has-checked:text-accent-contrast' },
      'accent-solid': { control: 'bg-accent-9 text-accent-contrast has-checked:bg-accent-9 has-checked:text-accent-contrast' },
      'accent-soft': { control: 'bg-accent-3 text-accent-11 has-checked:bg-accent-9 has-checked:text-accent-contrast' },
      'accent-soft-outline': { control: 'bg-accent-3 text-accent-11 border-accent-7 border has-checked:bg-accent-9 has-checked:text-accent-contrast' },
      'accent-surface-outline': { control: 'bg-accent-1 text-accent-11 border-accent-7 border has-checked:bg-accent-9 has-checked:text-accent-contrast' },
      'accent-ghost-outline': { control: 'text-accent-11 border-accent-7 border has-checked:bg-accent-9 has-checked:text-accent-contrast' },
      'warn-surface': { control: 'bg-warn-1 text-warn-11 has-checked:bg-warn-9 has-checked:text-warn-contrast' },
      'warn-solid': { control: 'bg-warn-9 text-warn-contrast has-checked:bg-warn-9 has-checked:text-warn-contrast has-focus-visible:ring-warn-8' },
      'warn-soft': { control: 'bg-warn-3 text-warn-11 has-checked:bg-warn-9 has-checked:text-warn-contrast has-focus-visible:ring-warn-8' },
      'warn-soft-outline': { control: 'bg-warn-3 text-warn-11 border-warn-7 border has-checked:bg-warn-9 has-checked:text-warn-contrast has-focus-visible:ring-warn-8' },
      'warn-surface-outline': { control: 'bg-warn-1 text-warn-11 border-warn-7 border has-checked:bg-warn-9 has-checked:text-warn-contrast has-focus-visible:ring-warn-8' },
      'warn-ghost-outline': { control: 'text-warn-11 border-warn-7 border has-checked:bg-warn-9 has-checked:text-warn-contrast has-focus-visible:ring-warn-8' },
      'danger-surface': { control: 'bg-danger-1 text-danger-11 has-checked:bg-danger-9 has-checked:text-danger-contrast' },
      'danger-solid': { control: 'bg-danger-9 text-danger-contrast has-checked:bg-danger-9 has-checked:text-danger-contrast has-focus-visible:ring-danger-8' },
      'danger-soft': { control: 'bg-danger-3 text-danger-11 has-checked:bg-danger-9 has-checked:text-danger-contrast has-focus-visible:ring-danger-8' },
      'danger-soft-outline': { control: 'bg-danger-3 text-danger-11 border-danger-7 border has-checked:bg-danger-9 has-checked:text-danger-contrast has-focus-visible:ring-danger-8' },
      'danger-surface-outline': { control: 'bg-danger-1 text-danger-11 border-danger-7 border has-checked:bg-danger-9 has-checked:text-danger-contrast has-focus-visible:ring-danger-8' },
      'danger-ghost-outline': { control: 'text-danger-11 border-danger-7 border has-checked:bg-danger-9 has-checked:text-danger-contrast has-focus-visible:ring-danger-8' },
    },
  },
});

const { class: className, checkboxPosition, elevation, size, variant, textVariants, ...props } = Astro.props;
const Tag = Astro.slots.has('default') ? 'label' : Fragment;
const slots = checkboxVariants({ checkboxPosition, elevation, size, variant });
---

<Tag data-slot="checkbox" class={slots.base({ className })}>
  <div class={slots.control()}>
    <Icon name="check" class={slots.icon()} />
    <Icon name="minus" class={slots.icon()} />
    <input data-slot="field-control" type="checkbox" class={slots.input()} {...props} />
  </div>
  <Text as={Astro.slots.has('default') ? 'span' : Fragment} trim size="inherit" {...textVariants}><slot /></Text>
</Tag>
