---
import type { HTMLAttributes } from 'astro/types';
import { type VariantProps, tv } from 'tailwind-variants';

type Props = HTMLAttributes<'div'> & SeparatorVariants;

export type SeparatorVariants = VariantProps<typeof separatorVariants>;

export const separatorVariants = tv({
  base: 'bg-gray-6 rounded',
  defaultVariants: { orientation: 'horizontal', variant: 'gray' },
  variants: {
    orientation: { horizontal: 'h-px w-full', vertical: 'h-full w-px' },
    variant: { gray: 'bg-gray-6', accent: 'bg-accent-6', warn: 'bg-warn-6', danger: 'bg-danger-6' },
  },
});

const { class: className, orientation, variant, ...props } = Astro.props;
---

<div
  data-slot="separator"
  role="separator"
  aria-orientation={orientation}
  class={separatorVariants({ orientation, variant, className })}
  {...props}
>
</div>
