---
import { inputVariants } from '@/components/input.astro';
import type { HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';

type Props = HTMLAttributes<'div'> & InputGroupVariants;

export type InputGroupVariants = VariantProps<typeof inputGroupVariants>;

export const inputGroupVariants = tv({
  base: [
    'flex w-full rounded border',
    'slot-[input]:border-none slot-[input]:rounded-none',
    'has-slot-focus-visible-[field-control]:border-accent-8',
    'has-slot-user-invalid-[field-control]:border-danger-7',
    'has-slot-user-invalid-[field-control]:has-slot-focus-visible-[field-control]:border-danger-8',
  ],
  defaultVariants: inputVariants.defaultVariants,
  variants: {
    elevation: {
      '1': 'elevation-1 slot-[input-group-section]:elevation-1',
      '2': 'elevation-2 slot-[input-group-section]:elevation-2',
      '3': 'elevation-3 slot-[input-group-section]:elevation-3',
    },
    variant: inputVariants.variants.variant,
  },
});

const { class: className, elevation, variant, ...props } = Astro.props;
---

<div data-slot="input-group" role="group" class={inputGroupVariants({ elevation, variant, className })} {...props}>
  <slot />
</div>
