---
import type { HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';

type Props = HTMLAttributes<'div'> & InputGroupSectionVariants;

export type InputGroupSectionVariants = VariantProps<typeof inputGroupSectionVariants>;

export const inputGroupSectionVariants = tv({
  base: [
    'text-gray-11/70 flex shrink-0 items-center py-1 text-sm select-none',
    'first:rounded-l first:pl-3 last:rounded-r last:pr-3',

    'first:has-slot-first-[button]:pl-1 last:has-slot-last-[button]:pr-1',
    'slot-[button]:h-full slot-[button]:rounded-inner-[1]',
  ],
  variants: {
    variant: {
      soft: 'bg-gray-2 last:has-slot-first-[button]:pl-1 first:has-slot-last-[button]:pr-1 px-3',
      'soft-outline':
        'bg-gray-2 first:has-slot-last-[button]:pr-1 last:has-slot-first-[button]:pl-1 border-[inherit] px-3 first:border-r last:border-l',
      outline:
        'first:has-slot-last-[button]:pr-1 last:has-slot-first-[button]:pl-1 border-[inherit] px-3 first:border-r last:border-l',
    },
  },
});

const { class: className, variant, ...props } = Astro.props;
---

<div data-slot="input-group-section" role="group" class={inputGroupSectionVariants({ variant, className })} {...props}>
  <slot />
</div>
