@import 'tailwindcss';
@plugin './libs/tailwind.ts';

@theme inline {
  --radius: var(--radius-lg);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
  --color-gray-contrast: var(--gray-contrast);

  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);
  --color-accent-5: var(--accent-5);
  --color-accent-6: var(--accent-6);
  --color-accent-7: var(--accent-7);
  --color-accent-8: var(--accent-8);
  --color-accent-9: var(--accent-9);
  --color-accent-10: var(--accent-10);
  --color-accent-11: var(--accent-11);
  --color-accent-12: var(--accent-12);
  --color-accent-contrast: var(--accent-contrast);

  --color-warn-1: var(--warn-1);
  --color-warn-2: var(--warn-2);
  --color-warn-3: var(--warn-3);
  --color-warn-4: var(--warn-4);
  --color-warn-5: var(--warn-5);
  --color-warn-6: var(--warn-6);
  --color-warn-7: var(--warn-7);
  --color-warn-8: var(--warn-8);
  --color-warn-9: var(--warn-9);
  --color-warn-10: var(--warn-10);
  --color-warn-11: var(--warn-11);
  --color-warn-12: var(--warn-12);
  --color-warn-contrast: var(--warn-contrast);

  --color-danger-1: var(--danger-1);
  --color-danger-2: var(--danger-2);
  --color-danger-3: var(--danger-3);
  --color-danger-4: var(--danger-4);
  --color-danger-5: var(--danger-5);
  --color-danger-6: var(--danger-6);
  --color-danger-7: var(--danger-7);
  --color-danger-8: var(--danger-8);
  --color-danger-9: var(--danger-9);
  --color-danger-10: var(--danger-10);
  --color-danger-11: var(--danger-11);
  --color-danger-12: var(--danger-12);
  --color-danger-contrast: var(--danger-contrast);
}

[data-theme='light'] {
  --gray-1: oklch(0.95 0 0);
  --gray-2: oklch(0.935 0 0);
  --gray-3: oklch(0.907 0 0);
  --gray-4: oklch(0.88 0 0);
  --gray-5: oklch(0.855 0 0);
  --gray-6: oklch(0.827 0 0);
  --gray-7: oklch(0.791 0 0);
  --gray-8: oklch(0.73 0 0);
  --gray-9: oklch(0.575 0 0);
  --gray-10: oklch(0.541 0 0);
  --gray-11: oklch(0.44 0 0);
  --gray-12: oklch(0.24 0 0);
  --gray-contrast: oklch(1 0 0);

  --accent-1: oklch(95.1% 0.006 299);
  --accent-2: oklch(93.7% 0.0164 299);
  --accent-3: oklch(91.2% 0.0394 299);
  --accent-4: oklch(88.2% 0.0704 299);
  --accent-5: oklch(84.7% 0.0998 299);
  --accent-6: oklch(80.4% 0.129 299);
  --accent-7: oklch(74.5% 0.1656 299);
  --accent-8: oklch(66.9% 0.219 299);
  --accent-9: oklch(68.5% 0.219 299);
  --accent-10: oklch(64.7% 0.219 299);
  --accent-11: oklch(45.2% 0.219 299);
  --accent-12: oklch(31.8% 0.1884 299);
  --accent-contrast: oklch(1 0 0);

  --warn-1: oklch(0.96 0.0027 50.8);
  --warn-2: oklch(0.944 0.0158 50.8);
  --warn-3: oklch(0.92 0.038 50.8);
  --warn-4: oklch(0.881 0.0836 50.8);
  --warn-5: oklch(0.848 0.1098 50.8);
  --warn-6: oklch(0.813 0.1134 50.8);
  --warn-7: oklch(0.759 0.1161 50.8);
  --warn-8: oklch(0.697 0.1362 50.8);
  --warn-9: oklch(0.685 0.197 50.8);
  --warn-10: oklch(0.647 0.2005 50.8);
  --warn-11: oklch(0.545 0.1918 50.8);
  --warn-12: oklch(0.35 0.0708 50.8);
  --warn-contrast: oklch(1 0 0);

  --danger-1: oklch(0.961 0.0048 22.2);
  --danger-2: oklch(0.948 0.0129 22.2);
  --danger-3: oklch(0.919 0.0328 22.2);
  --danger-4: oklch(0.888 0.0728 22.2);
  --danger-5: oklch(0.854 0.0953 22.2);
  --danger-6: oklch(0.813 0.1147 22.2);
  --danger-7: oklch(0.761 0.1376 22.2);
  --danger-8: oklch(0.697 0.1743 22.2);
  --danger-9: oklch(0.685 0.301 22.2);
  --danger-10: oklch(0.647 0.301 22.2);
  --danger-11: oklch(0.51 0.301 22.2);
  --danger-12: oklch(0.339 0.1697 22.2);
  --danger-contrast: oklch(1 0 0);
}

[data-theme='dark'] {
  --gray-1: oklch(0.097 0 0);
  --gray-2: oklch(0.199 0 0);
  --gray-3: oklch(0.247 0 0);
  --gray-4: oklch(0.279 0 0);
  --gray-5: oklch(0.31 0 0);
  --gray-6: oklch(0.348 0 0);
  --gray-7: oklch(0.4 0 0);
  --gray-8: oklch(0.49 0 0);
  --gray-9: oklch(0.534 0 0);
  --gray-10: oklch(0.581 0 0);
  --gray-11: oklch(0.767 0 0);
  --gray-12: oklch(0.948 0 0);
  --gray-contrast: oklch(1 0 0);

  --accent-1: oklch(0.097 0.033 304);
  --accent-2: oklch(0.197 0.0459 304);
  --accent-3: oklch(0.259 0.0907 304);
  --accent-4: oklch(0.305 0.1228 304);
  --accent-5: oklch(0.343 0.1347 304);
  --accent-6: oklch(0.387 0.1422 304);
  --accent-7: oklch(0.448 0.1581 304);
  --accent-8: oklch(0.537 0.1933 304);
  --accent-9: oklch(0.459 0.266 304);
  --accent-10: oklch(0.405 0.266 304);
  --accent-11: oklch(0.784 0.224 304);
  --accent-12: oklch(0.911 0.07 304);
  --accent-contrast: oklch(1 0 0);

  --warn-1: oklch(0.097 0.0123 50.8);
  --warn-2: oklch(0.194 0.0198 50.8);
  --warn-3: oklch(0.25 0.0466 50.8);
  --warn-4: oklch(0.289 0.0821 50.8);
  --warn-5: oklch(0.332 0.0895 50.8);
  --warn-6: oklch(0.385 0.0896 50.8);
  --warn-7: oklch(0.453 0.0977 50.8);
  --warn-8: oklch(0.54 0.1198 50.8);
  --warn-9: oklch(0.685 0.197 50.8);
  --warn-10: oklch(0.647 0.197 50.8);
  --warn-11: oklch(0.799 0.1682 50.8);
  --warn-12: oklch(0.925 0.054 50.8);
  --warn-contrast: oklch(1 0 0);

  --danger-1: oklch(0.097 0.0207 22.2);
  --danger-2: oklch(0.19 0.0326 22.2);
  --danger-3: oklch(0.243 0.0994 22.2);
  --danger-4: oklch(0.285 0.1481 22.2);
  --danger-5: oklch(0.33 0.1647 22.2);
  --danger-6: oklch(0.381 0.1722 22.2);
  --danger-7: oklch(0.45 0.1869 22.2);
  --danger-8: oklch(0.543 0.2276 22.2);
  --danger-9: oklch(0.685 0.301 22.2);
  --danger-10: oklch(0.647 0.276 22.2);
  --danger-11: oklch(0.784 0.2516 22.2);
  --danger-12: oklch(0.902 0.0821 22.2);
  --danger-contrast: oklch(1 0 0);
}

@custom-variant theme-light (&:where([data-theme="light"] *));
@custom-variant theme-dark (&:where([data-theme="dark"] *));

@utility rounded-inner-* {
  border-radius: calc(var(--radius) - (var(--spacing) * --value([integer])));
}

@utility elevation-1 {
  @apply theme-light:shadow-sm theme-light:inset-shadow-2xs theme-light:shadow-black/15 theme-light:inset-shadow-black/10;
  @apply theme-dark:inset-shadow-2xs theme-dark:inset-shadow-white/25;
}

@utility elevation-2 {
  @apply theme-light:shadow-md theme-light:inset-shadow-xs theme-light:shadow-black/15 theme-light:inset-shadow-black/10;
  @apply theme-dark:inset-shadow-xs theme-dark:inset-shadow-white/25;
}

@utility elevation-3 {
  @apply theme-light:shadow-lg theme-light:inset-shadow-sm theme-light:shadow-black/15 theme-light:inset-shadow-black/10;
  @apply theme-dark:inset-shadow-sm theme-dark:inset-shadow-white/25;
}
